<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/loginForm}" method="post">
    <div>
        <label for="memNo">Username:</label>
        <input type="text" id="memNo" name="memNo"/>
    </div>
    <div>
        <label for="memPw">Password:</label>
        <input type="password" id="memPw" name="memPw"/>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>
